
.App {
  width: 500px;
  height: 500px;

}

.container-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(202, 171, 171);
  border-radius: 5px;
  padding: 40px;
}

body {
  width: 800px;
  display: flex;
  justify-content: center;
}
